[profile.default]
src = "src"
out = "out"
libs = ["lib"]
remappings = [
    "forge-std/=lib/forge-std/src/",
    "@chainlink/=lib/chainlink-brownie-contracts/",
    "foundry-devops/=lib/foundry-devops/src/",
    "chainlink-brownie-contracts/=lib/chainlink-brownie-contracts/"
]
